.project__wrapper
    .project__title Проекты
    .project__projects
        button.project__create Добавить проект
        .project__progress Выполняемые проекты
            ul.project__list
                each e in progress
                    li.project__item(data-id=`${e.id}`, data-status=`${e.status}`)
                        .project__pic(style=`background-color:${e.pic};`)
                        .project__name #{e.title}
        .project__ready.grey Выполненные проекты
            ul.project__list
                each e in ready
                    li.project__item(data-id=`${e.id}`, data-status=`${e.status}`)
                        .project__pic(style=`background-color:${e.pic};`)
                        .project__name #{e.title}